.App {
    text-align: center;
}

.App-logo {
    height: 7vmin;
    pointer-events: none;
    display: flex;
    flex-direction: row;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: green;
    font-weight: bold;
}

.Articles-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.Article-Table {
    box-shadow: 10px 10px 10px #aaaaaa;
    margin-top: 40px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
